aiogram==2.9.2
aiohttp==3.6.2
async-timeout==3.0.1
attrs==19.3.0
Babel==2.8.0
beautifulsoup4==4.9.1
bs4==0.0.1
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
cryptography==2.9.2
cycler==0.10.0
decorator==4.4.2
future==0.18.2
geographiclib==1.50
geopy==2.0.0
idna==2.9
kiwisolver==1.2.0
matplotlib==3.2.1
multidict==4.7.6
numpy==1.18.5
pycparser==2.20
pygame==1.9.6
pyparsing==2.4.7
pyTelegramBotAPI==3.7.1
python-dateutil==2.8.1
python-telegram-bot==12.7
pytz==2020.1
requests==2.23.0
six==1.15.0
soupsieve==2.0.1
tornado==6.0.4
urllib3==1.25.9
yarl==1.4.2
